<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>API de Times</title>
</head>
<body><p><span style="font-size:18px">API criada por Diogo e Darlan para solicitar os t&iacute;tulos dos <span style="color:#0000CD">maiores times do Brasil</span></span></p>

<p><span style="font-size:18px">Para usar corretamente a API &eacute; necess&aacute;rio colocar o nome do time com letras minusculas&nbsp;&nbsp;no final do site</span></p>

<p>&nbsp;</p>


<p><span style="font-size:14px">Para a API de signos ser utilizada, deve ser usado no final do Site, a data no formato <span style="color:#FF0000">dd-mm-yyyy</span></span></p>


</body>
</html>
